@import url(reset.css);

.icon{
	display :inline-block;
	background: yellow;
	width: 24px;
	height: 24px;
	
	overflow: hidden;
	text-indent: -999%;
}

.icon-menu{
	background: url("/imagers/icon/baseline-menu-24px.svg") no-repeat;
}

.icon-search{
		background: url("/imagers/icon/baseline-search-24px.svg") no-repeat;
}
/*----------------------------------------------------------  */
#header{
	display: flex;
	height: 54px;
	background: blue;
	/* 수직방향 정렬 */
	align-items: center;
	/* 수평방향 정렬*/
	justify-content: space-between;
}
#header>*{
	padding:10px;
	--margin:10px;
	display:flex;
	align-items: center;
}
#logo{
    background: url("../../imagers/logo.png") no-repeat center ;
    
    width: 182px;
    height: 35px;
    text-indent: -200px;
    overflow: hidden;
    display: inline-block;
}
/*--------------------------------------------------------*/