.d-none{
    display: none;
}

#upload{
    
}

#upload .box{
    display: flex;

    box-sizing: border-box; 
    width: 900px;
    height: 500px;
    margin-left: auto;
    margin-right: auto;
    border: 1px solid red;
}

#upload .drop-zone{
    width: 600px; 
    height: 500px;
    border: 1px solid red;
    background:  lightblue;
    
}

#upload .file-list{
    background: yellow;
}

#upload .drop-zone.valide{
    background: lightgreen;
}

#upload .drop-zone.invalide{
    background: red;
}